<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring.security">

<head th:replace="~{layout/plantillas :: head}">
	<title>Inventario | Clientes</title>

</head>

<body class="container ">

	<!--        <header th:replace="layout/plantillas :: header"></header>-->
	<nav th:replace="~{layout/plantillas :: nav}"></nav>

	<div>
		<h3 class="my-3 text-secondary">Inventariar Productos</h3>
		<h2 class="mb-3" th:if="${nomCliente!= null}"> <strong>Cliente:</strong> [[${nomCliente}]]</h2>

		<!-- PARA PRODUCTOS POR CLIENTE -->
		<form th:if="${idCliente != null}" method="get" th:action="@{/inventarios/listarProductos/}+${idCliente}"
			class="row g-3">
			<div class="col-md-3 d-flex">
				<label for="filtro" class="col-form-label col-sm-3">Filtrar</label>
				<input type="text" name="filtro" class="form-control" id="filtro" placeholder="Ingrese el producto"
					th:value="${filtro}">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-secondary">
					<i class="fa-solid fa-magnifying-glass text-white" style="font-size: 16pt"></i>
				</button>
			</div>
		</form>

		<!-- PARA PRODUCTOS EN GENERAL -->
		<form th:if="${idCliente == null}" method="get" th:action="@{/inventarios/listarProductos}" class="row g-3">
			<div class="col-md-3  d-flex">
				<label for="filtro" class="col-form-label col-sm-3">Filtrar</label>
				<input type="text" name="filtro" class="form-control" id="filtro" placeholder="Ingrese el producto"
					th:value="${filtro}">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-secondary">
					<i class="fa-solid fa-magnifying-glass text-white" style="font-size: 16pt"></i>
				</button>
			</div>
		</form>

		<section th:replace="~{layout/modales :: agregar-inventario}"></section>

		<div class="mt-4">
			<div th:if="${page.content != null and !page.content.empty}" class="table-responsive">
				<table class="table w-100 table-striped">
					<thead>
						<tr class="bg-dark text-white">
							<th>#</th>
							<th th:if="${idCliente == null}">Cliente</th>
							<th>Almacén</th>
							<th>SKU</th>
							<th>Producto</th>
							<th>Saldo</th>
							<th>Unidad</th>
							<th>¿Realizado?</th>
							<th>Inventariar</th>
							<th>Detalle</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pro,c : ${page.content}">

							<td class="align-middle">[[${#numbers.formatInteger(page.number * page.size + c.index
								+1,3)}]]</td>
							<td class="align-middle" th:if="${idCliente == null}">[[${pro.cliente}]]</td>
							<td class="align-middle  text-center">[[${pro.almacen}]]</td>
							<td class="align-middle">[[${pro.sku}]]</td>
							<td class="align-middle">[[${pro.producto}]]</td>
							<td class="align-middle text-end"><strong>[[${pro.saldo}]]</strong></td>
							<td class="align-middle">[[${pro.bulto}]]</td>
							<td class="align-middle text-success text-center" th:if="${pro.inventariado}">
								<i class="fa-solid fa-square-check  fs-2"></i>
							</td>
							<td class="align-middle  text-danger  text-center" th:if="${!pro.inventariado}">
								<i class="fa-solid fa-square-xmark  fs-2"></i>
							</td>

							<td class="text-center align-middle">
								<a class="btn btn-warning   px-2" href="" data-bs-toggle="modal"
									data-bs-target="#modal-agregar" id="btnInventario" th:attr="
										data-id=${pro.idProducto},
										data-desc=${pro.producto},
                                        data-saldo=${pro.saldo},
                                        data-bulto=${pro.bulto},
                                        data-idUserLogin=${idUserLogin},
                                        data-fecha=${fecha},
                                        data-idcli=${idCliente}" title="Ingresar Inventario">
									<i class="fa-solid fa-file-signature text-dark fs-3"></i>
								</a>
							</td>
							<td class="text-center align-middle">
								<a class="btn btn-secondary   px-2"
									th:href="@{/inventarios/listarDetalle/}+${pro.idProducto}"
									title="Detalle Inventario">
									<i class="fa-solid fa-magnifying-glass-arrow-right  text-white fs-3"></i>
								</a>
							</td>
						</tr>

					</tbody>
				</table>

				<div th:if="${idCliente != null}" class="text-center">
					<a class="btn btn-dark" th:if="${page.number > 0}"
						th:href="@{/inventarios/listarProductos/{idCliente}(idCliente=${idCliente}, page=0, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-backward"></i>
					</a>
					<a class="btn btn-dark" th:if="${page.number > 0}"
						th:href="@{/inventarios/listarProductos/{idCliente}(idCliente=${idCliente}, page=${page.number - 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-caret-left"></i>
					</a>
					<a class="btn btn-dark" th:if="${page.number < page.totalPages - 1}"
						th:href="@{/inventarios/listarProductos/{idCliente}(idCliente=${idCliente}, page=${page.number + 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-caret-right"></i>
					</a>
					<a class="btn btn-dark" th:if="${page.number < page.totalPages - 1}"
						th:href="@{/inventarios/listarProductos/{idCliente}(idCliente=${idCliente}, page=${page.totalPages - 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-forward"></i>
					</a>

				</div>


				<div th:if="${idCliente == null}" class="text-center">
					<a class="btn btn-dark" th:if="${page.number > 0}"
						th:href="@{/inventarios/listarProductos(page=0, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-backward"></i>
					</a>
					<a class="btn btn-dark" th:if="${page.number > 0}"
						th:href="@{/inventarios/listarProductos(page=${page.number - 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-caret-left"></i>
					</a>


					<a class="btn btn-dark" th:if="${page.number < page.totalPages - 1}"
						th:href="@{/inventarios/listarProductos(page=${page.number + 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-caret-right"></i>
					</a>
					<a class="btn btn-dark" th:if="${page.number < page.totalPages - 1}"
						th:href="@{/inventarios/listarProductos(page=${page.totalPages - 1}, filtro=${filtro == null or filtro.isEmpty() ? '' : filtro})}">
						<i class="fa-solid fa-forward"></i>
					</a>
				</div>

				<div class="text-secondary" th:if="${page.content != null and !page.content.empty}">
					Total de Registros:

					<strong>
						[[${(page.number)*page.size+page.content.size()}]]
					</strong> de
					<strong>
						[[${page.totalElements}]]
					</strong>
				</div>
				<div class="text-secondary" th:if="${page.content != null and !page.content.empty}">
					Página:

					<strong>
						[[${page.number+1}]]
					</strong> de
					<strong>
						[[${page.totalPages}]]
					</strong>
				</div>

			</div>

			<!-- AVISO DE INFORMACIÓN NO ENCONTRADA -->
			<div th:if="${page.content == null or page.content.empty}" class="col-auto mt-4">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>AVISO! </strong>No se encontraron registros
				</div>
			</div>
		</div>

		<a th:if="${idCliente != null}" th:href="@{/inventarios/listarClientes}" class="btn btn-outline-dark mt-4"><i
				class="fa-solid fa-arrow-left"></i> Todos los Clientes
		</a>
		<a th:if="${idCliente == null}" th:href="@{/}" class="btn btn-outline-dark  mt-4"><i
				class="fa-solid fa-arrow-left"></i> Menú
		</a>

	</div>

	<div th:replace="~{layout/plantillas :: toast}"></div>

	<footer th:replace="~{layout/plantillas :: footer}"></footer>


	<script type="text/javascript">

		/*enviar los valores de la fila seleccionada al modal agregar-modificar*/
		$(document).on("click", "#btnInventario", function () {
			var id = $(this).data('id');
			var desc = $(this).data('desc');
			var sal = $(this).data('saldo');
			var salLabel = $(this).data('saldo') + ' ' + $(this).data('bulto');
			var idcli = $(this).data('idcli');
			//var fecha = $(this).data('fecha');

			console.log("id prod : " + id);
			console.log("sal : " + sal);
			console.log("id desc : " + desc);
			console.log("id cli : " + idcli);

			//enviando los valores al modal
			$("#idProducto").val(id);
			$("#saldoProducto").val(sal);
			$("#descProductoLabel").text(desc);
			$("#saldoProductoLabel").text(salLabel);
			$("#cantInventario").val('');

			$("#idUser").val(1);
			//$("#idCliente").val(idCli);

			//$("#fecha").val('2023-01-01 00:00:00');
		});


		/*enviar el foco al primer control*/
		$(function () {
			$('#modal-agregar').on('shown.bs.modal', function () {
				$('#cantInventario').trigger('focus');
				//console.log('ingresó focus');
			});
		});
	</script>

	<script>
		window.addEventListener("load", () => {
			//MOSTRAR UNA NOTIFICACION
			$(document).ready(function () {
				$('#liveToast').toast('show'); // Muestra la alerta

				setTimeout(function () {
					$('#liveToast').toast('hide'); // Oculta la alerta después de 6 segundos
				}, 6000);
			});
		})
	</script>

	<script>
		const numeroInput = document.getElementById('cantInventario');

		numeroInput.addEventListener('input', function (event) {
			// Eliminar caracteres no numéricos
			event.target.value = event.target.value.replace(/[^\d]/g, '');
		});
	</script>


	<script>
		document.title = 'Inventario | Productos';
	</script>
</body>

</html>