<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring.security">

<head th:replace="layout/plantillas :: head">
	<title>Inventario | Clientes</title>

</head>

<body class="container ">

	<!--        <header th:replace="layout/plantillas :: header"></header>-->
	<nav th:replace="layout/plantillas :: nav"></nav>

	<div>
		<h3 class="my-3 text-secondary">Inventariar Productos</h3>
		<h2 class="mb-3" th:if="${nomCliente!= null}"> <strong>Cliente:</strong> [[${nomCliente}]]</h2>

		<form  th:if="${idCliente != null}" method="get" th:action="@{/inventarios/listarProductos/}+${idCliente}" class="row g-3">
			<div class="col-md-3 d-flex">
				<label for="filtro" class="col-form-label col-sm-3">Filtrar</label>
				<input type="text" name="filtro" class="form-control" id="filtro" placeholder="Ingrese el producto">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-secondary">
					<i class="fa-solid fa-magnifying-glass text-white" style="font-size: 16pt"></i>
				</button>
			</div>
		</form>
		<form th:if="${idCliente == null}" method="get" th:action="@{/inventarios/listarProductos}" class="row g-3">
			<div class="col-md-3  d-flex">
				<label for="filtro" class="col-form-label col-sm-3">Filtrar</label>
				<input type="text" name="filtro" class="form-control" id="filtro" placeholder="Ingrese el producto">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-secondary">
					<i class="fa-solid fa-magnifying-glass text-white" style="font-size: 16pt"></i>
				</button>
			</div>
		</form>

		<section th:replace="layout/modales :: agregar-inventario"></section>

		<div class="mt-4">
			<div th:if="${productos != null and !productos.empty}" class="table-responsive">
				<table class="table w-100 table-striped">
					<thead>
						<tr class="bg-dark text-white">
							<th>#</th>
							<th th:if="${idCliente == null}">Cliente</th>
							<th>Almacén</th>
							<th>SKU</th>
							<th>Producto</th>
							<th>Saldo</th>
							<th>Unidad</th>
							<th>¿Realizado?</th>
							<th>Inventariar</th>
							<th>Detalle</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pro : ${productos}">
							<td class="align-middle">[[${#numbers.formatInteger(pro.idProducto,3)}]]</td>
							<td class="align-middle" th:if="${idCliente == null}">[[${pro.cliente}]]</td>
							<td class="align-middle  text-center">[[${pro.almacen}]]</td>
							<td class="align-middle">[[${pro.sku}]]</td>
							<td class="align-middle">[[${pro.producto}]]</td>
							<td class="align-middle text-end"><strong>[[${pro.saldo}]]</strong></td>
							<td class="align-middle">[[${pro.bulto}]]</td>
							<td class="align-middle text-success text-center" th:if="${pro.inventariado}">
								<i class="fa-solid fa-square-check  fs-2"></i>
							</td>
							<td class="align-middle  text-danger  text-center" th:if="${!pro.inventariado}">
								<i class="fa-solid fa-square-xmark  fs-2"></i>
							</td>

							<td class="text-center align-middle">
								<a class="btn btn-warning   px-2" href="" data-bs-toggle="modal"
									data-bs-target="#modal-agregar" id="btnInventario" th:attr="
										data-id=${pro.idProducto},
										data-desc=${pro.producto},
                                        data-saldo=${pro.saldo},
                                        data-bulto=${pro.bulto},
                                        data-idUserLogin=${idUserLogin},
                                        data-fecha=${fecha},
                                        data-idcli=${idCliente}" title="Ingresar Inventario">
									<i class="fa-solid fa-file-signature text-dark fs-3"></i>
								</a>
							</td>
							<td class="text-center align-middle">
								<a class="btn btn-secondary   px-2"
									th:href="@{/inventarios/listarDetalle/}+${pro.idProducto}"
									title="Detalle Inventario">
									<i class="fa-solid fa-magnifying-glass-arrow-right  text-white fs-3"></i>
								</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

			<!-- AVISO DE INFORMACIÓN NO ENCONTRADA -->
			<div th:if="${productos == null or productos.empty}" class="col-auto mt-4">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>AVISO! </strong>No se encontraron registros
				</div>
			</div>
		</div>

		<a th:if="${idCliente != null}" th:href="@{/inventarios/listarClientes}" class="btn btn-outline-secondary mt-4"><i
				class="fa-solid fa-arrow-left"></i> Todos los Clientes
		</a>
		<a th:if="${idCliente == null}" th:href="@{/}" class="btn btn-outline-secondary  mt-4"><i
				class="fa-solid fa-arrow-left"></i> Menú
		</a>

	</div>


	<footer th:replace="layout/plantillas :: footer"></footer>


	<script type="text/javascript">

		/*enviar los valores de la fila seleccionada al modal agregar-modificar*/
		$(document).on("click", "#btnInventario", function () {
			var id = $(this).data('id');
			var desc = $(this).data('desc');
			var sal = $(this).data('saldo');
			var salLabel = $(this).data('saldo') + ' ' + $(this).data('bulto');
			var idcli = $(this).data('idcli');
			//var fecha = $(this).data('fecha');

			console.log("id prod : " + id);
			console.log("sal : " + sal);
			console.log("id desc : " + desc);
			console.log("id cli : " + idcli);

			//enviando los valores al modal
			$("#idProducto").val(id);
			$("#saldoProducto").val(sal);
			$("#descProductoLabel").text(desc);
			$("#saldoProductoLabel").text(salLabel);
			$("#cantInventario").val('');

			$("#idUser").val(1);
			//$("#idCliente").val(idCli);

			//$("#fecha").val('2023-01-01 00:00:00');
		});


		/*enviar el foco al primer control*/
		$(function () {
			$('#modal-agregar').on('shown.bs.modal', function () {
				$('#cantInventario').trigger('focus');
				//console.log('ingresó focus');
			});
		});
	</script>

	<script>
		document.title = 'Inventario | Productos';
	</script>
</body>

</html>