<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.css" />
	<link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css" />
	<style th:replace="~{layout/css_js :: estilos_login}"></style>

</head>

<body class="container">

	<div>
		<h2 class="mt-4"><strong>Acceso Denegado</strong></h2>
		<p>Ud. no tiene los permisos para acceder a este recurso</p>
		<a href="javascript:history.back()" class="btn btn-danger">
			<i class="fa-solid fa-arrow-left"></i>
			Regresar
		</a>
	</div>

</body>

</body>

</html>